.card{
  border:1px solid rgb(128, 127, 127);
  border-radius:10px;
  box-shadow:5px 5px 5px;
  padding:10px;
  margin:10px;
  text-align: center;
  max-width:250px;
  display:inline-block;
}
.profileImg{
  max-width: 100%;
}